/* Base / Reset */
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'CustomFont', sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

button:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.3);
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, label, input, textarea, select, button, a, ul, li {
  font-family: 'CustomFont', sans-serif;
}

@font-face {
  font-family: 'CustomFont';
  src: url('../src/assets/Be_Vietnam_Pro/BeVietnamPro-Medium.ttf') format('truetype');
}
