.auth-section {
    padding: 2% !important;
}

.text-muted {
    color: #666;
    font-size: 0.95rem;
    margin-bottom: 1rem;
}

.checkbox-label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.95rem;
}

.sign-up-link,
.forgot-password-link {
    color: rgb(0, 0, 0);
    font-size: 1vw;
    text-decoration: none;
}

.sign-up-link:hover,
.forgot-password-link:hover {
    text-decoration: underline;
}

.login-google {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    width: 90%;
    padding-left: 5% !important;
    padding-right: 5% !important;
    border: 1px #969696 solid;
    border-radius: 4px;
    font-size: 0.9vw;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.login-google > img {
    margin-right: 1vw;
    width: 1.4vw;
    height: 1.4vw;
}

.login-google:hover {
    background-color: black;
    color: white;
}

.sign-up-link {
    margin-top: 1vh;
    text-align: center;
}