.list-view {
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  padding: 1%;
}

.list-header {
  font-weight: 600;
}

.list-header, .list-row {
  display: grid;
  align-items: center;
  gap: 10px;
  padding: 10px;
  font-size: 1vw;
}

.column-header {
  cursor: default;
  user-select: none;
  white-space: nowrap;
}

.column-header.sortable {
  cursor: pointer;
}

.column-header.sortable:hover {
  color: #007bff;
}

.column-cell {
  flex-wrap: wrap;
}

.list-actions {
  display: flex;
  gap: 5px;
  align-items: center;
}

.action-icon{
  padding: 0.2vw;
  border-radius: 5px;
}

.action-icon:hover {
  background-color: black;
}

.list-row:hover {
  background-color: #fafafa;
}

.list-empty {
  padding: 15px;
  text-align: center;
  color: #888;
  font-size: 0.9vw;
}

.inactive-row {
  opacity: 0.5;
  pointer-events: none; /* disable clicks if you want */
}

.inactive-row .list-actions {
  opacity: 0.5;
}
